body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #ecf0f1;
    width: 100vw;
    overflow-x: hidden;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

.hidden {
    display: none;
}

#container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
}

#screen {
    background-color: #fff;
    height: 50px;
    width: 700px;
    margin: 20px 0;
    box-shadow: 0 2px 8px rgba(255, 255, 255, 0.7);
    
}



.seat {
    background-color: #444451;
    height: 15px;
    width:15px ;
    margin: 3px;
    border-radius: 5px;
}

#row {
    display: flex;
}

.seat.selected {
    background-color: #e6eb6f;

}
.seat:nth-of-type(2) {
    margin-right: 20px;
}

.screen {
    background-color: #fff;
    height: 50px;
    width: 100%;
    margin: 20px 0;
    box-shadow: 0 2px 8px rgba(255, 255, 255, 0.7);
    
}
.seat:nth-last-of-type(3){
    margin-right: 20px;
    }

.seat:not(.reserved):hover{
        cursor: pointer;
        transform: scale(1.3);
    }

.seat.reserved {
    background-color: #fff;
}

.info {
    background-color: rgba(0, 0,0, 2);
    padding: 5px 50px;
    color: #777;
    display: flex;
}

.info li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 30px;
}

p#text span{
    color: #e6eb6f;
    }

body > header > .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px;
    height: 100%;
    width: 1200px;
    margin: 0 auto;
}

body > header > .header-container .logo {
    color: #2c3e50;
    font-weight: bold;
    text-decoration: none;
    font-size: 24px;

}
body > header > .header-container nav {
    display: flex;
    height: 100%;
    align-items: center;
}

body > header > .header-container nav ul {
    margin: 0;
    display:flex;
    align-items: center;
    justify-content: center;
}

body > header > .header-container nav ul li {
    list-style: none;
    margin-right: 8px;
}

body > header > .header-container nav ul li a {
    text-decoration: none;
    color: #2c3e50;
    transition: linear all 200ms;
    padding: 4px 8px;
    border-bottom: 1px solid transparent;
}

body > header > .header-container nav ul li a:hover {
    border-color: #2c3e50;
}


body > .content header {
    background-color: #2c3e50;
    
}
body > .content header .header-container {
    color: white;
    width: 1200px;
    margin: 0 auto;
    padding: 24px 16px;
} 

#theater #theater-container .theater-card {
    height: 300px;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 24px;
    background-color: white;
    display: flex;
}

#theater #theater-container .theater-card img {
    height: 100%;
    width: 30%;
    object-fit: cover;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.contain {
    width: 1200px;
    margin: 24px auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.contain .movie-card {
    display: flex;
    background-color: white;
    border-radius: 4px;
}

.contain .movie-card img {
    width: 300px;
    height: 100%;
}
.contain .movie-card p {
    padding: 4px 0;
    margin: 0;
    font-size: 18px;
}


 /* The Modal */
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  


